<div
  class="fixed inset-0 flex items-center justify-center z-50"
  (click)="onClose()"
>
  <!-- Backdrop -->
  <div
    class="fixed inset-0 bg-gray-700 opacity-50 flex items-center justify-center"
  ></div>

  <!-- All Invoices Modal -->
  <div
    class="bg-gray-100 rounded-xl shadow-2xl w-7xl h-[90vh] overflow-hidden relative"
    (click)="$event.stopPropagation()"
  >
    <!-- Card Header -->
    <div class="p-2 text-center flex justify-between items-center">
      <div class="flex items-center gap-2 mx-2">
        <i-lucide [img]="ReceiptText" [size]="24"></i-lucide>
        <h1 class="text-2xl font-bold text-gray-900">Tous les factures</h1>
      </div>
      <button
        (click)="onClose()"
        class="bg-black text-white p-1 rounded-lg border border-gray-800 shadow m-2"
      >
        <i-lucide [img]="XIcon" [size]="22"></i-lucide>
      </button>
    </div>

    <div class="px-4">
      <!-- Filter Controls -->
      <div class="w-full flex justify-between mb-3">
        <div class="w-full flex gap-3">
          <!-- Search by invoice number or client name -->
          <form class="w-full">
            <label
              for="search-invoice"
              class="mb-2 text-sm font-medium text-gray-900 sr-only"
            >
              Rechercher
            </label>
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <i-lucide [img]="Search" [size]="16"></i-lucide>
              </div>
              <input
                type="search"
                id="search-invoice"
                placeholder="Rechercher par N° de facture ou Nom du client..."
                [ngModel]="searchQuery()"
                (ngModelChange)="searchQuery.set($event)"
                name="searchQuery"
                class="block w-full p-2 ps-10 text-sm text-gray-900 bg-white placeholder-gray-400 border border-gray-200 shadow-xs rounded-lg focus:outline-none focus:shadow-sm"
              />
            </div>
          </form>

          <!-- Filter by responsable -->
          <div class="w-full">
            <app-searchable-select
              [options]="responsableOptions()"
              [value]="responsableFilter()"
              (valueChange)="responsableFilter.set($event)"
              placeholder="Tous les responsables"
            ></app-searchable-select>
          </div>

          <!-- Filter by date -->
          <div class="w-full">
            <app-date-range-picker
              [value]="selectedDateRangeFilter()"
              (valueChange)="selectedDateRangeFilter.set($event)"
              placeholder="Filtrer par date"
              className="w-full"
            ></app-date-range-picker>
          </div>

          <!-- Clear filters button -->
          <div class="w-full">
            <button
              (click)="clearFilters()"
              class="bg-white border border-gray-200 shadow-xs rounded-lg text-sm px-5 py-2 text-center inline-flex items-center h-9.5"
            >
              Effacer les filtres
            </button>
          </div>
        </div>
      </div>

      <!-- Loading State -->
      <div *ngIf="isLoading()">
        <app-table-skeleton
          [columns]="tableColumns"
          [rowCount]="9"
        ></app-table-skeleton>
      </div>

      <!-- No invoices found -->
      <div
        *ngIf="!isLoading() && allInvoices().length === 0"
        class="text-center py-12"
      >
        <p class="text-gray-700 text-xl font-medium mb-1">
          Aucune facture trouvée
        </p>
        <p class="text-gray-500">
          Générez des factures à partir de l'écran des reçus
        </p>
      </div>
    </div>

    <!-- Card Body: Table -->
    <div
      *ngIf="!isLoading() && allInvoices().length > 0"
      class="px-4 pb-4 max-h-[80vh] overflow-y-auto scrollbar-hide"
    >
      <app-reusable-table
        [columns]="tableColumns"
        [columnKeys]="tableColumnKeys"
        [data]="allInvoices()"
        [customActions]="customActions"
        [columnTemplates]="columnTemplates"
        (onRowClick)="onInvoiceClick($event)"
      >
      </app-reusable-table>

      <!-- Pagination -->
      <app-pagination
        *ngIf="rowsCount() > 10"
        [totalItems]="rowsCount()"
        [currentPage]="currentPage()"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>
    <!-- Column templates for table -->
    <ng-template #totalColumnTemplate let-item="item">
      <div class="text-lg font-medium text-gray-900">
        {{ item.total | currency:'EUR' }}
      </div>
    </ng-template>

    <ng-template #dateColumnTemplate let-item="item">
      <div class="flex items-center gap-2 text-md text-gray-600">
        <span> {{ item.date | date: 'short' }} </span>
      </div>
    </ng-template>
  </div>
</div>

<app-invoice-details-modal
  *ngIf="isInvoiceDetailsVisible()"
  [invoice]="selectedInvoice()!"
  (close)="onCloseInvoiceDetails()"
></app-invoice-details-modal>
