<div
  class="fixed inset-0 flex items-center justify-center z-50"
  (click)="onClose()"
>
  <div
    class="fixed inset-0 bg-gray-700 opacity-50 flex items-center justify-center"
  ></div>
  <div
    class="bg-white rounded-xl shadow-2xl w-full max-w-4xl mx-4 overflow-hidden relative"
    (click)="$event.stopPropagation()"
  >
    <div class="p-2 text-center flex justify-between items-center">
      <h1 class="text-2xl font-bold">Toutes les factures</h1>
      <button
        (click)="onClose()"
        class="bg-black text-white p-1 rounded-lg border border-gray-200 shadow-sm"
      >
        <i-lucide [img]="XIcon" [size]="22"></i-lucide>
      </button>
    </div>
    <div class="px-4">
      <div *ngIf="isLoading()" class="text-center py-12">
        <i-lucide
          [img]="Loader"
          [size]="48"
          class="animate-spin mx-auto"
        ></i-lucide>
      </div>
      <div
        *ngIf="!isLoading() && invoices().length === 0"
        class="text-center py-12"
      >
        <p class="text-gray-600 text-xl font-medium mb-1">
          Aucune facture trouvée
        </p>
        <p class="text-gray-400">
          Générez des factures à partir de l'écran des reçus
        </p>
      </div>
      <div
        *ngIf="!isLoading() && invoices().length > 0"
        class="grid grid-cols-3 gap-4 p-4 max-h-96 overflow-y-auto scrollbar-hide"
      >
        <div
          *ngFor="let invoice of invoices()"
          class="bg-white rounded-lg p-3 border border-gray-200 shadow-sm flex flex-col justify-between cursor-pointer"
          (click)="onInvoiceClick(invoice)"
        >
          <div>
            <p class="text-sm text-gray-600">
              Numéro de facture :
              <span class="font-medium text-gray-900">
                {{ invoice.invoiceNumber }}
              </span>
            </p>
            <p class="text-sm text-gray-600">
              Client :
              <span class="font-medium text-gray-900">
                {{ invoice.clientName }}
              </span>
            </p>
            <p class="text-sm text-gray-600">
              Date :
              <span class="font-medium text-gray-900">
                {{ invoice.date | date: 'short' }}
              </span>
            </p>
            <p class="text-lg font-semibold text-gray-900 mt-2">
              Total : {{ invoice.total | currency:'EUR' }}
            </p>
          </div>
          <div class="mt-4">
            <button 
              class="w-full py-2 rounded-lg font-medium shadow-xs bg-green-500 text-white hover:bg-green-600 transition-colors duration-200 flex items-center justify-center"
              (click)="sendWhatsapp(invoice); $event.stopPropagation()"
            >
              <i-lucide [img]="MessageCircleIcon" [size]="16"></i-lucide>
              <span class="ml-2">Envoyer via Whatsapp</span>
            </button>
          </div>
        </div>
      </div>
      <div class="p-4 border-t border-gray-200">
        <button
          (click)="onClose()"
          class="w-full py-2 rounded-lg font-medium shadow-xs bg-gray-100 text-gray-800 hover:bg-gray-200 transition-colors duration-200"
        >
          Fermer
        </button>
      </div>
    </div>
  </div>
</div>

<app-invoice-details-modal
  *ngIf="isInvoiceDetailsVisible()"
  [invoice]="selectedInvoice()!"
  (close)="onCloseInvoiceDetails()"
></app-invoice-details-modal>
