<div class="w-full">
  <div class="bg-white shadow-xs border-b border-gray-200 p-4">
    <h2 class="text-2xl font-bold text-gray-900">Articles</h2>
  </div>

  <div class="bg-white rounded-lg border border-gray-200 shadow-xs p-2 m-2">
    <div class="w-full flex justify-between mb-3">
      <!-- Search and Filter -->
      <div class="w-3/4 flex gap-3">
        <!-- Search by name -->
        <form class="w-full">
          <label
            for="search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >
            Rechercher par nom
          </label>
          <div class="relative w-full">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <i-lucide [img]="Search" [size]="16"></i-lucide>
            </div>
            <input
              type="search"
              id="search"
              [value]="searchTerm()"
              (input)="onSearchTermChange($event)"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="block w-full p-2 ps-10 text-sm text-gray-900 placeholder-gray-400 border border-gray-200 shadow-xs rounded-lg focus:outline-none focus:shadow-sm"
              placeholder="Rechercher par nom..."
            />
          </div>
        </form>

        <!-- Search by label -->
        <form class="w-full">
          <label
            for="search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >
            Rechercher par label
          </label>
          <div class="relative w-full">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <i-lucide [img]="Search" [size]="16"></i-lucide>
            </div>
            <input
              type="search"
              id="search"
              [value]="labelSearchTerm()"
              (input)="onLabelSearchTermChange($event)"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="block w-full p-2 ps-10 text-sm text-gray-900 placeholder-gray-400 border border-gray-200 shadow-xs rounded-lg focus:outline-none focus:shadow-sm"
              placeholder="Rechercher par label.."
            />
          </div>
        </form>

        <!-- Select category -->
        <form class="w-2/3">
          <select
            id="categories"
            [value]="selectedCategory()"
            (change)="onCategoryChange($event)"
            class="border border-gray-200 shadow-xs text-gray-900 text-sm rounded-lg block w-full p-2 focus:outline-none focus:shadow-sm"
          >
            <option value="">Toutes les catégories</option>
            <option *ngFor="let category of categories()" [value]="category.id">
              {{ category.label }}
            </option>
          </select>
        </form>
      </div>

      <!-- Actions -->
      <button
        (click)="openCreateForm()"
        class="flex justify-center items-center gap-2 bg-black text-white py-2 px-4 rounded-lg text-sm font-medium border border-gray-200 shadow-sm"
      >
        <i-lucide [img]="Plus" [size]="16"></i-lucide>
        Ajouter un article
      </button>
    </div>

    <!-- Table -->
    <app-reusable-table
      [columns]="tableColumns"
      [columnKeys]="tableColumnKeys"
      [data]="paginatedMeals()"
      [actions]="{ edit: true, delete: true }"
      (onEdit)="openEditForm($event)"
      (onDelete)="deleteMeal($event)"
      (onImageError)="onImageError($event)"
    ></app-reusable-table>

    <!-- Pagination -->
    <app-pagination
      *ngIf="filteredMeals().length > 10"
      [totalItems]="filteredMeals().length"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>

    <!-- Meal Create/Edit Form Modal -->
    <div
      *ngIf="showMealForm()"
      (click)="cancelForm()"
      class="fixed inset-0 flex items-center justify-center z-50"
    >
      <!-- Backdrop -->
      <div
        class="fixed inset-0 bg-gray-700 opacity-50 flex items-center justify-center"
      ></div>

      <!-- Client Modal -->
      <div
        (click)="$event.stopPropagation()"
        [ngClass]="{'-translate-y-40': isInputFocused()}"
        class="bg-white rounded-xl shadow-2xl w-full max-w-xl overflow-hidden relative"
      >
        <!-- Card Header -->
        <div class="flex justify-between">
          <div class="flex items-center gap-2 m-4">
            <i-lucide [img]="Utensils" [size]="24"></i-lucide>
            <h1 class="text-2xl font-bold text-gray-900">
              {{ editingMeal() ? "Modifier l'article" : "Créer un nouveau
              Article" }}
            </h1>
          </div>
          <div>
            <button
              (click)="cancelForm()"
              class="bg-black text-white p-1 rounded-lg border border-gray-800 shadow m-2"
            >
              <i-lucide [img]="XIcon" [size]="22"></i-lucide>
            </button>
          </div>
        </div>

        <!-- Form -->
        <form (ngSubmit)="saveMeal()" class="px-4 pb-4 space-y-4">
          <!-- Row 1: Designation and Category -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <!-- Designation -->
            <div class="space-y-1">
              <label
                for="designation"
                class="block text-sm font-semibold text-gray-700"
              >
                Désignation <span class="text-red-500">*</span>
              </label>
              <input
                type="text"
                id="designation"
                name="designation"
                placeholder="Entrez le nom"
                [(ngModel)]="newMeal.designation"
                (focus)="openKeyboard()"
                (blur)="closeKeyboard()"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
                required
              />
            </div>

            <!-- Category -->
            <div class="space-y-1">
              <label
                for="categoryId"
                class="block text-sm font-semibold text-gray-700"
              >
                Catégorie <span class="text-red-500">*</span>
              </label>
              <select
                id="categoryId"
                name="categoryId"
                [(ngModel)]="newMeal.categoryId"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg focus:outline-none focus:shadow-sm"
                required
              >
                <option value="">Sélectionner une catégorie</option>
                <option
                  *ngFor="let category of categories()"
                  [value]="category.id"
                >
                  {{ category.label }}
                </option>
              </select>
            </div>
          </div>

          <!-- Row 2: Purchase Prices and PriceHT -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <!-- Purchase Price -->
            <div class="space-y-1">
              <label
                for="purchasePrice"
                class="block text-sm font-semibold text-gray-700"
              >
                Prix d'achat
              </label>
              <input
                type="number"
                id="purchasePrice"
                name="purchasePrice"
                [(ngModel)]="newMeal.purchasePrice"
                (focus)="openKeyboard()"
                (blur)="closeKeyboard()"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
                required
              />
            </div>

            <!-- PriceHT -->
            <div class="space-y-1">
              <label
                for="sellingPrice"
                class="block text-sm font-semibold text-gray-700"
              >
                Prix hors taxes <span class="text-red-500">*</span>
              </label>
              <input
                type="number"
                id="sellingPrice"
                name="sellingPrice"
                [(ngModel)]="newMeal.sellingPrice"
                (ngModelChange)="calculateTTC()"
                (focus)="openKeyboard()"
                (blur)="closeKeyboard()"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
                required
              />
            </div>
          </div>

          <!-- Row 3: TVA and TotalTTC -->
          <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
            <!-- TVA -->
            <div class="space-y-1">
              <label
                for="tva"
                class="block text-sm font-semibold text-gray-700"
              >
                TVA (%) <span class="text-red-500">*</span>
              </label>
              <input
                type="number"
                id="tva"
                name="tva"
                [(ngModel)]="newMeal.tva"
                (ngModelChange)="calculateTTC()"
                (focus)="isInputFocused.set(true); openKeyboard()"
                (blur)="isInputFocused.set(false); closeKeyboard()"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
                required
              />
            </div>

            <!-- TotalTTC -->
            <div class="space-y-1">
              <label
                for="totalTTC"
                class="block text-sm font-semibold text-gray-700"
              >
                Prix TTC <span class="text-red-500">*</span>
              </label>
              <input
                type="number"
                id="totalTTC"
                name="totalTTC"
                [(ngModel)]="newMeal.totalTTC"
                (ngModelChange)="calculateSellingPrice()"
                (focus)="isInputFocused.set(true); openKeyboard()"
                (blur)="isInputFocused.set(false); closeKeyboard()"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
                required
              />
            </div>
          </div>

          <!-- Row 4: Labels -->
          <div class="space-y-1">
            <label
              for="labels"
              class="block text-sm font-semibold text-gray-700"
            >
              Labels
            </label>
            <div class="flex items-center">
              <input
                type="text"
                #labelInput
                placeholder="Ajouter un label"
                (focus)="isInputFocused.set(true); openKeyboard()"
                (blur)="isInputFocused.set(false); closeKeyboard()"
                class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
              />
              <button
                type="button"
                (click)="addLabel(labelInput)"
                class="bg-black text-white p-1.5 rounded-md border border-gray-800 shadow m-2"
              >
                <i-lucide [img]="Plus" [size]="22"></i-lucide>
              </button>
            </div>
            <div class="mt-2">
              <span
                *ngFor="let label of newMeal.labels; let i = index"
                class="inline-flex items-center bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2"
              >
                {{ label.value }}
                <button
                  type="button"
                  (click)="removeLabel(i)"
                  class="ml-2 text-red-500 hover:text-red-700"
                >
                  <i-lucide [img]="trash2"></i-lucide>
                </button>
              </span>
            </div>
          </div>
          <div class="flex justify-end">
            <button
              type="submit"
              class="bg-black text-white border border-gray-800 shadow font-medium rounded-lg text-sm px-5 py-2.5"
            >
              {{ editingMeal() ? 'Mettre à jour' : 'Créer' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
