<div
  class="flex-shrink-0 p-2 sm:p-3"
  style="min-height: 50px; max-height: 50px"
>
  <div class="flex gap-2">
    <button
      class="flex-1 flex items-center justify-center gap-1 py-1.5 px-2 rounded-lg text-sm font-medium transition-all duration-200 hover:cursor-pointer"
      [class]="orderType() === 'take away' ? 'bg-gradient-to-r bg-blue-500 text-white shadow-md' : 'bg-white text-gray-900 border border-blue-200 hover:border-blue-300 hover:bg-blue-50'"
      (click)="onSelectTakeAway()"
    >
      Take away
    </button>
    <button
      class="flex-1 flex items-center justify-center gap-1 py-1.5 px-2 rounded-lg text-sm font-medium transition-all duration-200 hover:cursor-pointer"
      [class]="
        orderType() === 'table'
          ? 'bg-gradient-to-r bg-blue-500 text-white shadow-md'
          : 'bg-white text-gray-900 border border-blue-200 hover:border-blue-300 hover:bg-blue-50'
      "
      (click)="onSelectTableType()"
    >
      Table
    </button>
  </div>
</div>
