<div class="flex gap-2">
  <button
    class="flex-1 flex items-center justify-center gap-1 py-1.5 px-2 rounded-lg text-sm font-medium transition-all duration-200 hover:cursor-pointer"
    [class]="orderType() === 'take away' ? 'bg-gradient-to-r bg-black text-white shadow-md' : 'bg-white text-gray-900 border border-gray-100'"
    (click)="onSelectTakeAway()"
  >
    <i-lucide [img]="ShoppingBagIcon" [size]="18"></i-lucide>
  </button>
  <button
    class="flex-1 flex items-center justify-center gap-1 py-1.5 px-2 rounded-lg text-sm font-medium transition-all duration-200 hover:cursor-pointer"
    [class]="
        orderType() === 'table'
          ? 'bg-gradient-to-r bg-black text-white shadow-md'
          : 'bg-white text-gray-900 border border-gray-100'
      "
    (click)="onSelectTableType()"
  >
    <i-lucide [img]="UtensilsIcon" [size]="18"></i-lucide>
  </button>
</div>
