<div class="container bg-white rounded-lg border border-gray-200 shadow-md p-2">
  <h2 class="text-2xl font-bold mb-2">Paramètres des clients</h2>
  <div class="w-full flex justify-between mb-2">
    <!-- Search and Filter -->
    <div class="w-2/3 flex gap-4">
      <input
        type="text"
        placeholder="Rechercher par nom..."
        class="w-full px-4 py-2 rounded-lg border border-gray-200 shadow-xs text-gray-700"
      />
    </div>
    <!-- Actions -->
    <button
      (click)="openCreateForm()"
      class="bg-black text-white px-3 rounded-md"
    >
      Ajouter un client
    </button>
  </div>

  <div>
    <app-reusable-table
      [columns]="tableColumns"
      [columnKeys]="tableColumnKeys"
      [data]="clients()"
      [actions]="{ edit: true, delete: true }"
      (onEdit)="openEditForm($event)"
      (onDelete)="deleteClient($event)"
    ></app-reusable-table>
  </div>

  <app-client-form-modal
    *ngIf="showClientForm()"
    [editingClient]="editingClient()"
    [token]="currentUser()?.token ?? ''"
    (close)="closeClientForm()"
    (clientSaved)="onClientSaved()"
  ></app-client-form-modal>
</div>
