<div
  class="fixed inset-0 flex items-center justify-center z-50"
  (click)="cancelForm()"
>
  <!-- Backdrop -->
  <div
    class="fixed inset-0 bg-gray-700 opacity-50 flex items-center justify-center"
  ></div>

  <!-- Client Modal -->
  <div
    class="bg-white rounded-xl shadow-2xl w-full max-w-xl overflow-hidden relative"
    [ngClass]="{'-translate-y-40': isInputFocused()}"
    (click)="$event.stopPropagation()"
  >
    <!-- Card Header -->
    <div class="flex justify-between">
      <div class="flex items-center gap-2 m-4">
        <i-lucide [img]="Users" [size]="24"></i-lucide>
        <h1 class="text-2xl font-bold text-gray-900">
          {{ editingClient() ? "Modifier le client" : 'Créer un nouveau client'
          }}
        </h1>
      </div>
      <div>
        <button
          (click)="cancelForm()"
          class="bg-black text-white p-1 rounded-lg border border-gray-800 shadow m-2"
        >
          <i-lucide [img]="XIcon" [size]="22"></i-lucide>
        </button>
      </div>
    </div>

    <!-- Form -->
    <form
      (ngSubmit)="saveClient()"
      #clientForm="ngForm"
      class="px-4 pb-4 space-y-4"
    >
      <!-- Row 1: Name and Email -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- Name -->
        <div class="space-y-1">
          <label for="nom" class="block text-sm font-semibold text-gray-700">
            Nom <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Entrez le nom"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            [ngModel]="newClient().name"
            (ngModelChange)="updateNewClient('name', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            required
          />
        </div>

        <!-- Email -->
        <div class="space-y-1">
          <label for="nom" class="block text-sm font-semibold text-gray-700">
            Email <span class="text-red-500">*</span>
          </label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="exemple@email.com"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            [ngModel]="newClient().email"
            (ngModelChange)="updateNewClient('email', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            required
          />
        </div>
      </div>

      <!-- Row 2: Phone and ICE -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
        <!-- Phone -->
        <div class="space-y-1">
          <label for="mobile" class="block text-sm font-semibold text-gray-700">
            Mobile <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="mobile"
            name="mobile"
            placeholder="+212 612 345 678"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            [ngModel]="newClient().mobile"
            (ngModelChange)="updateNewClient('mobile', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            required
          />
        </div>

        <!-- ICE -->
        <div class="space-y-1">
          <label for="ice" class="block text-sm font-semibold text-gray-700">
            ICE <span class="text-red-500">*</span>
          </label>
          <input
            type="text"
            id="ice"
            name="ice"
            placeholder="Numéro ICE"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            [ngModel]="newClient().ice"
            (ngModelChange)="updateNewClient('ice', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            required
          />
          <span *ngIf="iceExistsError()" class="text-red-500 text-sm mt-1">
            Ce numéro ICE existe déjà.
          </span>
        </div>
      </div>

      <!-- Row 3: Address -->
      <div class="space-y-1">
        <label for="adresse" class="block text-sm font-semibold text-gray-700">
          Adresse
        </label>
        <textarea
          id="adresse"
          name="address"
          rows="3"
          (focus)="isInputFocused.set(true); openKeyboard()"
          (blur)="isInputFocused.set(false); closeKeyboard()"
          [ngModel]="newClient().address"
          (ngModelChange)="updateNewClient('address', $event)"
          class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 resize-none focus:outline-none focus:shadow-sm"
          placeholder="Entrez l'adresse complète"
        ></textarea>
      </div>

      <!-- Row 4: Postal Code, City, and Country -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-2">
        <!-- Postal Code -->
        <div className="space-y-1">
          <label
            for="postalCode"
            class="block text-sm font-semibold text-gray-700"
          >
            Code postal
          </label>
          <input
            type="text"
            id="postalCode"
            name="postalCode"
            placeholder="9000"
            (focus)="isInputFocused.set(true); openKeyboard()"
            (blur)="isInputFocused.set(false); closeKeyboard()"
            [ngModel]="newClient().postalCode"
            (ngModelChange)="updateNewClient('postalCode', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>

        <!-- City -->
        <div className="space-y-1">
          <label for="city" class="block text-sm font-semibold text-gray-700">
            Ville
          </label>
          <input
            type="text"
            id="city"
            name="city"
            placeholder="Tanger"
            (focus)="isInputFocused.set(true); openKeyboard()"
            (blur)="isInputFocused.set(false); closeKeyboard()"
            [ngModel]="newClient().city"
            (ngModelChange)="updateNewClient('city', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>

        <!-- Country -->
        <div className="space-y-1">
          <label
            for="country"
            class="block text-sm font-semibold text-gray-700"
          >
            Pays
          </label>
          <input
            type="text"
            id="country"
            name="country"
            placeholder="Maroc"
            (focus)="isInputFocused.set(true); openKeyboard()"
            (blur)="isInputFocused.set(false); closeKeyboard()"
            [ngModel]="newClient().country"
            (ngModelChange)="updateNewClient('country', $event)"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>
      </div>

      <div class="flex justify-end">
        <button
          type="submit"
          [disabled]="clientForm.invalid || iceExistsError()"
          class="bg-black text-white border border-gray-800 shadow font-medium rounded-lg text-sm px-5 py-2.5"
        >
          {{ editingClient() ? 'Mettre à jour' : 'Créer' }}
        </button>
      </div>
    </form>
  </div>
</div>
