<div class="w-full">
  <div class="bg-white shadow-xs border-b border-gray-200 p-4">
    <h2 class="text-2xl font-bold text-gray-900">Paramètres des catégories</h2>
  </div>

  <div class="bg-white rounded-lg border border-gray-200 shadow-xs p-2 m-2">
    <div class="w-full flex justify-between mb-3">
      <!-- Search -->
      <div class="w-2/3 flex gap-3">
        <!-- Search by name -->
        <form class="w-full">
          <label
            for="search"
            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >
            Rechercher par nom
          </label>
          <div class="relative w-full">
            <div
              class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
            >
              <i-lucide [img]="Search" [size]="16"></i-lucide>
            </div>
            <input
              type="search"
              id="search"
              [value]="searchTerm()"
              (input)="onSearchTermChange($event)"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-200 shadow-xs rounded-lg"
              placeholder="Rechercher par nom..."
            />
          </div>
        </form>
      </div>

      <!-- Actions -->
      <button
        (click)="openCreateForm()"
        class="flex justify-center items-center gap-2 bg-black text-white py-2 px-4 rounded-lg text-sm font-medium border border-gray-200 shadow-sm"
      >
        <i-lucide [img]="Plus" [size]="16"></i-lucide>
        Ajouter une catégorie
      </button>
    </div>

    <!-- Table -->
    <app-reusable-table
      [columns]="tableColumns"
      [columnKeys]="tableColumnKeys"
      [data]="paginatedCategories()"
      [actions]="{ edit: true, delete: true }"
      (onEdit)="openEditForm($event)"
      (onDelete)="deleteCategory($event)"
      (onImageError)="onImageError($event)"
    ></app-reusable-table>

    <!-- Pagination -->
    <app-pagination
      [totalItems]="filteredCategories().length"
      [currentPage]="currentPage()"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>

    <!-- Category Create/Edit Form Modal -->
    <div
      *ngIf="showCategoryForm()"
      class="fixed inset-0 flex items-center justify-center z-50"
      (click)="cancelForm()"
    >
      <div
        class="fixed inset-0 bg-gray-700 opacity-50 flex items-center justify-center"
      ></div>
      <div
        class="bg-white rounded-xl shadow-2xl w-full max-w-lg mx-4 overflow-hidden relative p-8"
        [ngClass]="{'-translate-y-48': isInputFocused()}"
        (click)="$event.stopPropagation()"
      >
        <button
          (click)="cancelForm()"
          class="absolute top-4 right-4 bg-black text-white p-1 rounded-lg border border-gray-200 shadow-sm"
        >
          <i-lucide [img]="XIcon" [size]="22"></i-lucide>
        </button>
        <h3 class="text-xl font-bold mb-4">
          {{ editingCategory() ? 'Modifier la catégorie' : 'Créer une nouvelle
          catégorie' }}
        </h3>
        <form (ngSubmit)="saveCategory()">
          <div class="mb-4">
            <label
              for="label"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Libellé de la catégorie :</label
            >
            <input
              type="text"
              id="label"
              name="label"
              [(ngModel)]="newCategoryLabel"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              required
            />
          </div>
          <div class="mb-4">
            <label
              for="image"
              class="block text-gray-700 text-sm font-bold mb-2"
              >Image de la catégorie :</label
            >
            <input
              type="file"
              id="image"
              name="image"
              (change)="onFileSelected($event)"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            />
          </div>
          <div class="flex justify-end">
            <button
              type="button"
              (click)="cancelForm()"
              class="bg-gray-300 text-gray-800 px-4 py-2 rounded-md mr-2 hover:bg-gray-400"
            >
              Annuler
            </button>
            <button
              type="submit"
              class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600"
            >
              {{ editingCategory() ? 'Mettre à jour' : 'Créer' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
