<div
  class="fixed inset-0 flex items-center justify-center z-50"
  (click)="onClose()"
>
  <!-- Backdrop -->
  <div
    class="fixed inset-0 bg-gray-700 opacity-50 flex items-center justify-center"
  ></div>

  <!-- All Receipts Modal -->
  <div
    class="bg-gray-100 rounded-xl shadow-2xl w-7xl min-h-[90vh] overflow-hidden relative"
    (click)="$event.stopPropagation()"
  >
    <!-- Card Header -->
    <div class="flex justify-between">
      <div class="flex items-center gap-2 m-4">
        <i-lucide [img]="Receipt" [size]="24"></i-lucide>
        <h1 class="text-2xl font-bold text-gray-900">Tous les reçus</h1>
      </div>
      <div>
        <button
          (click)="onClose()"
          class="bg-black text-white p-1 rounded-lg border border-gray-800 shadow m-2"
        >
          <i-lucide [img]="XIcon" [size]="22"></i-lucide>
        </button>
      </div>
    </div>

    <div class="px-4">
      <!-- Filter Controls -->
      <div class="w-full flex justify-between mb-2">
        <div class="w-full flex gap-3">
          <!-- Search by name -->
          <form class="w-full">
            <label
              for="search"
              class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
            >
              Rechercher par commande
            </label>
            <div class="relative w-full">
              <div
                class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
              >
                <i-lucide [img]="Search" [size]="16"></i-lucide>
              </div>
              <input
                type="search"
                id="search"
                placeholder="Rechercher Commande .."
                [ngModel]="commandNumberFilter()"
                (ngModelChange)="commandNumberFilter.set($event)"
                name="commandNumberFilter"
                class="block w-full p-2 ps-10 text-sm text-gray-900 bg-white placeholder-gray-400 border border-gray-200 shadow-xs rounded-lg focus:outline-none focus:shadow-sm"
              />
            </div>
          </form>

          <div class="w-full">
            <app-custom-select
              [options]="serviceTypeOptions"
              [value]="serviceTypeFilter()"
              (valueChange)="serviceTypeFilter.set($event)"
              placeholder="Tous les services"
            ></app-custom-select>
          </div>

          <div class="w-full">
            <app-custom-select
              [options]="responsableOptions()"
              [value]="responsableFilter()"
              (valueChange)="responsableFilter.set($event)"
              placeholder="Tous les responsables"
            ></app-custom-select>
          </div>

          <div class="w-full">
            <app-custom-select
              [options]="statusOptions"
              [value]="statusFilter()"
              (valueChange)="statusFilter.set($event)"
              placeholder="Tous les statuts"
            ></app-custom-select>
          </div>

          <div class="w-full">
            <app-date-range-picker
              [value]="selectedDateRangeFilter()"
              (valueChange)="selectedDateRangeFilter.set($event)"
              placeholder="Select a date range"
            ></app-date-range-picker>
          </div>

          <div class="w-full">
            <button
              (click)="clearFilters()"
              class="bg-white border border-gray-200 shadow-xs rounded-lg text-sm px-5 py-2 text-center inline-flex items-center mb-2"
            >
              Effacer les filtres
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Card Body -->
    <div
      *ngIf="!isLoading() && allReceipts().length > 0"
      class="px-4 pb-4 max-h-[80vh] overflow-y-auto scrollbar-hide"
    >
      <app-reusable-table
        [columns]="tableColumns"
        [columnKeys]="tableColumnKeys"
        [data]="paginatedReceipts()"
        [customActions]="customActions"
        [columnTemplates]="columnTemplates"
      >
      </app-reusable-table>

      <!-- Pagination -->
      <app-pagination
        *ngIf="rowsCount() > 10"
        [totalItems]="rowsCount()"
        [currentPage]="currentPage()"
        (pageChange)="onPageChange($event)"
      >
      </app-pagination>
    </div>

    <!-- Loading State -->
    <div *ngIf="isLoading()">
      <app-table-skeleton
        [columns]="tableColumns"
        [rowCount]="10"
      ></app-table-skeleton>
    </div>

    <ng-template #totalColumnTemplate let-item="item">
      <div class="text-lg font-medium text-gray-900">
        {{ item.total | currency:'EUR' }}
      </div>
    </ng-template>

    <ng-template #dateColumnTemplate let-item="item">
      <div class="flex items-center gap-2 text-md text-gray-600">
        <span> {{ item.date | date: 'short' }} </span>
      </div>
    </ng-template>

    <ng-template #statusColumnTemplate let-item="item">
      <div class="text-md text-gray-700">{{ getStatusLabel(item.status) }}</div>
    </ng-template>
  </div>

  <app-invoice-dialog
    *ngIf="isInvoiceDialogVisible()"
    [receipt]="selectedReceiptForInvoice()!"
    [token]="token()"
    (close)="onCloseInvoiceDialog()"
    (invoiceGenerated)="onInvoiceGenerated($event)"
  ></app-invoice-dialog>

  <app-invoice-details-modal
    *ngIf="isInvoiceDetailsVisible()"
    [invoice]="selectedInvoice()!"
    (close)="onCloseInvoiceDetails()"
  ></app-invoice-details-modal>

  <app-receipt-details-modal
    *ngIf="isReceiptDetailsVisible()"
    [receipt]="selectedReceipt()!"
    (close)="onCloseReceiptDetails()"
  ></app-receipt-details-modal>
</div>
