<div class="bg-gray-100">
  <div class="flex gap-2 overflow-x-auto scrollbar-hide px-4 py-2">
    <button
      *ngFor="let category of categories()"
      class="bg-white text-gray-900 flex flex-col items-center p-1 rounded-md border border-gray-200 shadow-sm flex-shrink-0 min-w-[60px] max-w-[60px] sm:min-w-[80px] sm:max-w-[80px] overflow-hidden"
      [class]="
        selectedCategory() === category.id
          ? 'shadow-lg scale-110'
          : ''
      "
      (click)="onCategorySelect(category)"
    >
      <div class="w-full h-14 rounded-md overflow-hidden mb-1 shadow-xs">
        <img
          [src]="category.image || 'assets/img/PlaceHolder.png'"
          (error)="onImageError($event)"
          [alt]="category.name"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </div>
      <span class="text-xs font-medium leading-tight line-clamp-1">
        {{ category.name }}
      </span>
    </button>
  </div>
</div>
