<div class="bg-gray-100">
  <div class="flex gap-2 overflow-x-auto scrollbar-hide px-4 py-2">
    <button
      *ngFor="let category of categories()"
      class="bg-white text-gray-900 flex flex-col items-center p-1 rounded-md hover:shadow hover:cursor-pointer flex-shrink-0 min-w-[80px] sm:min-w-[100px]"
      [class]="
        selectedCategory() === category.name
          ? 'shadow-sm scale-105'
          : 'hover:shadow-xs'
      "
      (click)="onCategorySelect(category.name)"
    >
      <div class="w-full h-16 rounded-md overflow-hidden mb-1 shadow-xs">
        <img
          [src]="category.image"
          [alt]="category.name"
          class="w-full h-full object-cover"
          loading="lazy"
        />
      </div>
      <span class="text-xs font-medium leading-tight">
        {{ category.name }}
      </span>
    </button>
  </div>
</div>
