<div class="flex-1 p-2 overflow-y-auto bg-gray-100 min-h-0">
  <!-- Loading State -->
  <div *ngIf="loading()" class="grid grid-cols-4 gap-6">
    <div
      *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]"
      class="bg-white rounded-lg shadow-sm overflow-hidden animate-pulse"
    >
      <div class="p-2 space-y-2">
        <div class="bg-gray-200 h-32 rounded-lg"></div>
        <div class="bg-gray-200 h-3 sm:h-4 rounded-sm mb-0.5"></div>
      </div>
    </div>
  </div>

  <!-- Menu Items Grid -->
  <div *ngIf="!loading()" class="grid grid-cols-5 grid-rows-3 gap-2">
    <div
      *ngFor="let meal of meals()"
      class="bg-white rounded-lg shadow-sm hover:shadow-md transition-all duration-300 cursor-pointer overflow-hidden p-1"
      [class.opacity-50]="!canAddToCart()"
      [class.cursor-not-allowed]="!canAddToCart()"
      (click)="onMealSelect(meal)"
    >
      <div class="relative overflow-hidden rounded-lg shadow-xs">
        <img
          [src]="meal.strMealThumb || '/placeholder.svg'"
          [alt]="meal.strMeal"
          class="w-full h-32 rounded-lg object-cover"
          loading="lazy"
        />
        <div
          *ngIf="!canAddToCart()"
          class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center rounded-lg"
        >
          <div class="text-white font-medium text-center px-3">
            <div class="text-xs">{{ getOverlayMessage() }}</div>
          </div>
        </div>
      </div>
      <div class="pt-3 pb-1 px-1">
        <h3
          class="text-sm font-semibold leading-tight text-gray-900 line-clamp-1"
        >
          {{ meal.strMeal }}
        </h3>
        <div class="flex items-center justify-between">
          <span class="text-md font-medium text-gray-900">
            ${{ meal.price }}
          </span>
          <button
            class="bg-gray-900 text-white w-7 h-7 rounded-lg flex items-center justify-center hover:bg-gray-800 shadow-2xl"
          >
            <i-lucide [img]="PlusIcon" [size]="16"></i-lucide>
          </button>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-5 gap-4 mt-4">
      <button
        (click)="onShowAllReceipts()"
        class="bg-emerald-600 text-white p-4 rounded-lg text-sm font-medium cursor-pointer"
      >
        All Receipts
      </button>
      <button
        (click)="onLogout()"
        class="bg-red-500 text-white p-4 rounded-lg text-sm font-medium cursor-pointer"
      >
        Logout
      </button>
    </div>
  </div>
</div>
