<div class="container bg-white rounded-lg border border-gray-200 shadow-md p-2">
  <h2 class="text-2xl font-bold mb-2">Paramètres des utilisateurs</h2>
  <div class="w-full flex justify-between mb-2">
    <!-- Search and Filter -->
    <div class="w-2/3 flex gap-4">
      <input
        type="text"
        placeholder="Rechercher par nom..."
        [value]="searchTerm()"
        (input)="onSearchTermChange($event)"
        class="w-full px-4 py-2 rounded-lg border border-gray-200 shadow-xs text-gray-700"
        (focus)="openKeyboard()"
        (blur)="closeKeyboard()"
      />
      <select
        [value]="selectedRole()"
        (change)="onRoleChange($event)"
        class="px-4 py-2 rounded-lg border border-gray-200 shadow-xs text-gray-700"
      >
        <option value="">Tous les rôles</option>
        <option *ngFor="let role of roles()" [value]="role.name">
          {{ role.name === 'Direction' ? 'admin' : 'serveur' }}
        </option>
      </select>
    </div>
    <!-- Actions -->
    <button
      (click)="openCreateForm()"
      class="bg-black text-white px-3 rounded-md"
    >
      Ajouter un utilisateur
    </button>
  </div>

  <div>
    <app-reusable-table
      [columns]="tableColumns"
      [columnKeys]="tableColumnKeys"
      [data]="paginatedUsers()"
      [actions]="{ edit: true, delete: true }"
      (onEdit)="openEditForm($event)"
      (onDelete)="deleteUser($event)"
      (onImageError)="onImageError($event)"
    ></app-reusable-table>
    <div class="flex justify-center items-center mt-2">
      <button
        (click)="previousPage()"
        [disabled]="currentPage() === 1"
        class="text-gray-800 px-3 py-1 rounded-md flex gap-1 justify-center items-center disabled:text-gray-400"
      >
        <i-lucide [img]="ChevronLeftIcon" [size]="16"></i-lucide>
        Précédent
      </button>
      <button
        *ngFor="let page of pages()"
        (click)="goToPage(page)"
        [class.shadow-sm]="currentPage() === page"
        [class.border]="currentPage() === page"
        [class.border-gray-200]="currentPage() === page"
        class="text-gray-800 px-3 py-1 rounded-md mx-1"
      >
        {{ page }}
      </button>
      <button
        (click)="nextPage()"
        [disabled]="currentPage() === totalPages()"
        class="text-gray-800 px-3 py-1 rounded-md flex gap-1 justify-center items-center disabled:text-gray-400"
      >
        Suivant
        <i-lucide [img]="ChevronRightIcon" [size]="16"></i-lucide>
      </button>
    </div>
  </div>

  <!-- User Create/Edit Form Modal -->
  <app-user-form-modal
    *ngIf="showUserForm()"
    [editingUser]="editingUser()"
    [token]="token()"
    (close)="cancelForm()"
    (userSaved)="onUserSaved()"
  ></app-user-form-modal>
</div>

