<div class="relative overflow-x-auto mb-3 animate-pulse">
  <table
    class="w-full text-md font-medium text-left text-gray-600 bg-white rounded"
  >
    <thead class="text-sm text-gray-900 uppercase">
      <tr>
        <th
          [attr.colspan]="columns.length + 1"
          class="px-6 py-2 border-b border-gray-300"
        >
          <div class="h-4 bg-gray-400 rounded"></div>
        </th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-300">
      <tr *ngFor="let row of dummyRows">
        <td [attr.colspan]="columns.length + 1" class="px-6 py-4">
          <div class="h-4 bg-gray-300 rounded"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
