<div class="w-full">
  <div class="bg-white shadow-xs border-b border-gray-200 p-4">
    <h2 class="text-2xl font-bold text-gray-900">Numérotation</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex gap-2">
    <div class="w-2/6 flex flex-col gap-4 m-2 relative">
      <div
        *ngIf="areImagesLoading"
        class="absolute inset-0 bg-white opacity-75 flex items-center justify-center z-10 rounded-lg"
      >
        <i-lucide [img]="Loader" [size]="48" class="animate-spin"></i-lucide>
      </div>
      <div
        class="bg-white rounded-lg border border-gray-200 shadow-xs p-4"
        [ngClass]="{'-translate-y-48': isInputFocused()}"
      >
        <label class="block text-sm font-semibold text-gray-700">Logo</label>
        <div class="mt-1 flex items-center">
          <span
            class="inline-block h-36 w-full overflow-hidden rounded-lg"
            (click)="fileInput.click()"
          >
            <img
              *ngIf="logoUrl"
              [src]="logoUrl"
              alt="Company Logo"
              class="h-full w-full object-contain"
            />
            <img
              *ngIf="!logoUrl"
              class="h-full w-full"
              src="https://placehold.co/1280x720"
            />
          </span>
          <div class="ml-5">
            <input
              type="file"
              (change)="onFileSelected($event)"
              accept="image/png, image/jpeg"
              class="hidden"
              #fileInput
            />
          </div>
        </div>
      </div>

      <div
        class="bg-white rounded-lg border border-gray-200 shadow-xs p-4"
        [ngClass]="{'-translate-y-48': isInputFocused()}"
      >
        <label class="block text-sm font-semibold text-gray-700">Cachet</label>
        <div class="mt-1 flex items-center">
          <span
            class="inline-block h-36 w-full overflow-hidden rounded-lg"
            (click)="cachetInput.click()"
          >
            <img
              *ngIf="cachetUrl"
              [src]="cachetUrl"
              alt="Company Cachet"
              class="h-full w-full object-contain"
            />
            <img
              *ngIf="!cachetUrl"
              class="h-full w-full"
              src="https://placehold.co/1280x720"
            />
          </span>
          <div class="ml-5">
            <input
              type="file"
              (change)="onCachetSelected($event)"
              accept="image/png, image/jpeg"
              class="hidden"
              #cachetInput
            />
          </div>
        </div>
      </div>
    </div>

    <div
      class="w-4/6 bg-white rounded-lg border border-gray-200 shadow-xs p-4 m-2 relative"
      [ngClass]="{'-translate-y-48': isInputFocused()}"
    >
      <div
        *ngIf="isFormLoading"
        class="absolute inset-0 bg-white opacity-75 flex items-center justify-center z-10 rounded-lg"
      >
        <i-lucide [img]="Loader" [size]="48" class="animate-spin"></i-lucide>
      </div>
      <div class="grid grid-cols-2 gap-4 mb-2">
        <div class="space-y-1">
          <label
            for="companyName"
            class="block text-sm font-semibold text-gray-700"
          >
            Nom de l'entreprise
          </label>
          <input
            type="text"
            id="companyName"
            formControlName="companyName"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>

        <div class="space-y-1">
          <label for="email" class="block text-sm font-semibold text-gray-700">
            E-mail
          </label>
          <input
            type="email"
            id="email"
            formControlName="email"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>

        <div class="space-y-1">
          <label
            for="phoneNumber"
            class="block text-sm font-semibold text-gray-700"
          >
            Numéro de mobile
          </label>
          <input
            type="text"
            id="phoneNumber"
            formControlName="phoneNumber"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>

        <div class="space-y-1">
          <label
            for="website"
            class="block text-sm font-semibold text-gray-700"
          >
            Site Web
          </label>
          <input
            type="text"
            id="website"
            formControlName="website"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
          />
        </div>
      </div>
      <div formGroupName="address">
        <div class="space-y-1">
          <label for="street" class="block text-sm font-semibold text-gray-700">
            Adresse
          </label>
          <textarea
            type="text"
            id="street"
            rows="3"
            formControlName="street"
            (focus)="openKeyboard()"
            (blur)="closeKeyboard()"
            class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 resize-none focus:outline-none focus:shadow-sm"
          ></textarea>
        </div>

        <div class="grid grid-cols-3 gap-4">
          <div class="space-y-1">
            <label for="city" class="block text-sm font-semibold text-gray-700">
              Ville
            </label>
            <input
              type="text"
              id="city"
              formControlName="city"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            />
          </div>

          <div class="space-y-1">
            <label
              for="postalCode"
              class="block text-sm font-semibold text-gray-700"
            >
              Code postal
            </label>
            <input
              type="text"
              id="postalCode"
              formControlName="postalCode"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            />
          </div>

          <div class="space-y-1">
            <label
              for="countryCode"
              class="block text-sm font-semibold text-gray-700"
            >
              Pays
            </label>
            <input
              type="text"
              id="countryCode"
              formControlName="countryCode"
              (focus)="openKeyboard()"
              (blur)="closeKeyboard()"
              class="w-full px-3 py-1.5 border border-gray-300 rounded-lg placeholder-gray-400 focus:outline-none focus:shadow-sm"
            />
          </div>
        </div>
        <div class="flex justify-end mt-4">
          <button
            type="submit"
            class="bg-black text-white border border-gray-800 shadow font-medium rounded-lg text-sm px-5 py-2.5"
          >
            Enregistrer
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
